.skills{
    color: var(--primary-color);
    background: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}


.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.card{
    width: 150px;
    border: 1px solid var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}
.card img{
    width: 100%;
    background: #fff;
}
