@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#151836;
    --secondary-color: #fff;
}

body{
    background: var(--primary-color);
    color: var(--secondary-color);
}
h1, p{
    text-align: center;
}
